html,
body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  background: #dfd6cd;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: #f2f7f2;
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 20px, 20px, 20px, 20px, #000;
}

.header h1 {
  color: #333232;
  text-align: center;
  margin: 30px, 0;
  margin-bottom: 30px;
}

.task-input {
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 18px;
  color: #333232;
  background-color: #f2f7f2;
  border: 1px solid #333232;
  border-radius: 10px;
  margin-bottom: 20px;
}

.add-button {
  width: 100px;
  padding: 15px 15px;
  font-size: 18px;
  border-radius: 10px;
  border: 0;
  background-color: #333232;
  cursor: pointer;
  color: #fff;
}

.list-item {
  display: flex;
  border-radius: 10px;
  padding: 10px;
  max-height: 30px;
  color: #333232;
}

.complete-button,
.delete-button,
.edit-button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 25px;
}

.complete-button,
.delete-button,
.edit-button {
  color: #333232;
  margin-left: 35px;
  opacity: 0.5;
}

.complete-button:hover {
  color: #32a287;
  opacity: 1;
}

.edit-button:hover {
  color: #3066be;
  opacity: 1;
}

.delete-button:hover {
  color: #be3144;
  opacity: 1;
}

.complete {
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-color: #be3144;
  color: #333232;
  opacity: 0.8;
  font-style: italic;
  font-weight: 200;
}

.list {
  width: 220px;
  background-color: #f2f7f2;
  border: none;
  color: #333232;
  font-size: 25px;
  font-weight: 700;
  font-family: "Caveat", cursive;
}

input:focus,
button:focus {
  outline: none;
}
