html, body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    background: #eeeeee;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-wrapper {
    background-color: #393e46;
    min-width: 450px;
    min-height: 650px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 6px 40px #000;
    margin-bottom: 10px;
}

.header h1 {
    color: #fff;
    text-align: center;
    margin: 30px, 0;
    margin-bottom: 30px;
}

.task-input {
    outline: none;
    width: 260px;
    padding: 15px;
    margin-right: 25px;
    font-size: 20px;
    color: #fff;
    background-color: #393e46;
    border: 1px solid #198754;
    border-radius: 10px;
}

.add-button {
    width: 70px;
    padding: 15px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color: #198754;
    cursor: pointer;
    color: #fff;
}

.list-item {
    display: flex;
    margin-top: 10px;
    margin: 20px, 0;
    border: 1px solid #198754;
    border-radius: 10px;
    padding: 10px;
    max-height: 30px;
    color: #fff;
}

.complete-button, .delete-button, .edit-button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 28px;
    border-radius: 50%;
}

.complete-button, .delete-button, .edit-button {
    color: #fff;
    margin-right: 10px;
}

.complete-button:hover {
    color: #60e550;
}

.edit-button:hover {
    color: #0092ca;
}

.delete-button:hover {
    color: #be3144;
}

.complete {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    color: #198754;
    opacity: 0.75;
}

.list {
    width: 220px;
    background-color: #393e46;
    border: none;
    color: white;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 15px;
}

input:focus, button:focus {
    outline: none;
}